user www-data;
worker_processes 4;
pid /run/nginx.pid;

events {
        worker_connections 768;
        # multi_accept on;
}

http {
  server { # simple reverse-proxy
    listen       ${NGROK_PORT};
    server_name  127.0.0.1 localhost;
    location / {
      proxy_pass      ${PROXY_TO_ADDR};
      proxy_set_header X-Forwarded-Proto https;
    }
  }
}
